@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-shrikhand: 'Shrikhand', cursive;
}

:root {
  --background: #303036;
  --foreground: #f1e4cc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303036;
    --foreground: #f1e4cc;
  }
}

html {
  scroll-behavior: smooth;
}

.h-screen {
  height: 100vh;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 3em;
}

#helloText {
  border-bottom: 3px solid var(--background);
}

#helloText:focus {
  outline: none;
}

#sec2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#s1 h1 {
  color: var(--background);
  font-family: var(--font-shrikhand);
}

#s1 input {
  font-family: "Georgia", Georgia, 'Times New Roman', Times, serif, serif;
  font-weight: 500;
}